.title {
    font-family: "Playwrite GB S";
    font-weight: 400;
    color: rgb(255, 255, 255);
    font-size: 2em;
    padding: 30px 0 30px 20px;
    width: 700px;
    max-width: 80vw;
}

.title::after {
    content: "";
    position: relative;
    display: block;
    height: 3px;
    background: linear-gradient(to right, hsl(45, 100%, 72%), hsl(35, 100%, 68%));
    border-radius: 3px;
}

.about-title::after{
    width: 50px;
}

.aboutpage-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    width: 700px;
    max-width: 80vw;
}

.about-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1em;
    color: hsl(0, 0%, 84%);
    text-align: left;
    line-height: 1.6;
    padding: 15px;
    background-color: rgba(72, 72, 72, 0.481);
    border-radius: 10px;

}

.sub-title {
    font-family: "Playwrite GB S";
    font-weight: 300;
    color: rgb(255, 255, 255);
    font-size: 1.3em;
    padding: 40px 0 10px 20px;
}

.work-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding-bottom: 20px;
}

.work-item {
    margin: 10px;
    box-sizing: content-box;
    padding: 15px 20px;
    background-color: rgba(53, 53, 53, 0.892);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.work-content-box {
    padding-left: 15px;
    font-family: 'Poppins', sans-serif;
    color: hsl(0, 0%, 84%);
    line-height: 1.2;
}

.work-title {
    font-size: 1em;
    font-weight: 500;
}

.work-text {
    padding-top: 5px;
    font-size: 0.8em;
    font-weight: 300;
}

.work-icon-box{
    color: rgb(255, 180, 75);
}

@media (max-width: 576px) {
    .work-list {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .work-item {
        flex-direction: column;
    }

    .work-content-box {
        padding-top: 10px;
        text-align: center;
        padding-left: 0;
    }
}
