@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* 
font-family: "Raleway", sans-serif; 
font-family: "Teko", sans-serif;
font-family: "Playwrite GB S", cursive;
font-family: "Montserrat", sans-serif;
font-family: 'Poppins', sans-serif;
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-size: contain;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(40, 40, 40, 0.666);
    height: 100%;
    padding: 16px 30px;
    border-radius: 0 0 0 20px;
}

nav li{
    padding: 0 20px;
}

nav ul a {
    font-family: "Teko", sans-serif;
    font-size: 1.3rem;
    text-decoration: none;
    color: white;
}

nav ul a:hover {
    color: rgb(255, 180, 75);
    transition: 0.2s;
}

nav p {
    font-family: "Teko", sans-serif;
    font-size: 1.4rem;
    padding-left: 40px;
    color: white;
}

@media (max-width: 576px) {
    nav p {
        display: none;
        margin: 0;
        padding: 0;
    }

    nav {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    nav ul {
        border-radius: 0 0 10px 10px;
        padding: 20px 0;
        margin-top: 0;
        height: 70px;
    }
}

@keyframes appear {
    0%{scale: 1; opacity: 0;}
    40%{scale: 1; opacity: 1;}
    80%{scale: 1; opacity: 1;}
    100%{scale: 1; opacity: 0;}
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.project, .work-item, .about-text{
    animation: appear linear both;
    animation-timeline: view();
    animation-range: cover;
}
    
.homepage-name {
    font-size: 3em;
    font-weight: bold;
    background: linear-gradient(90deg, #ff7c61, #ffdf2d, #ff9d00);
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    animation: gradient-animation 3s linear;
}