.title {
    font-family: "Playwrite GB S";
    font-weight: 400;
    color: rgb(255, 255, 255);
    font-size: 2em;
    padding: 30px 0 30px 20px;
    width: 700px;
    max-width: 80vw;
}

.title::after {
    content: "";
    position: relative;
    display: block;
    height: 3px;
    background: linear-gradient(to right, hsl(45, 100%, 72%), hsl(35, 100%, 68%));
    border-radius: 3px;
}

.contact-title::after{
    width: 30px;
}

.sub-title {
    font-family: "Playwrite GB S";
    font-weight: 300;
    color: rgb(255, 255, 255);
    font-size: 1.3em;
    padding: 40px 0 10px 20px;
}

.contact-page iframe{
    filter: grayscale(1) invert(1);
    border: 1px solid gray;
    border-radius: 12px;
    width: 700px;
    max-width: 80vw;
    min-height: 200px;
}

.contactpage-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
}

.form{
    margin-top: 10px;
    width: 700px;
    max-width: 80vw;
}

.input-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    margin-bottom: 25px;
}

.form-input{
    color: hsl(0, 0%, 98%);
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 400;
    padding: 13px 20px;
    border: 1px solid hsl(0, 0%, 22%);
    border-radius: 14px;
    outline: none;
}

input, textarea {
    display: block;
    width: 100%;
    background: none;
    font: inherit;
}

.submit{
    display: flex;
    width: 700px;
    max-width: 80vw;
    justify-content: right;
}

.form-btn {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 300;
    color:rgb(255, 180, 75);
    padding: 10px 15px;
    background: none;
    border: 1px solid hsl(0, 0%, 22%);
    outline: none;
    border-radius: 14px;
    margin-top: 25px;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 60px;
    font-family: "Playwrite GB S", cursive;
    padding-bottom: 60px;
}

.open h2{
    font-size: 30px;
    font-weight: 300;
}

.email{
margin-top: 60px;
}

.email h1 {
    font-family: "Raleway", sans-serif; 
    font-size: 50px;
    font-weight: 500;
    cursor: pointer;
}

.email h4 {
    font-size: 18px;
    font-weight: 300;
}


@media (max-width: 576px) {
    .input-wrapper{
        grid-template-columns: 1fr;
    }

    .open h2{
        font-size: 20px;
        font-weight: 300;
    }

    .email h1 {
        font-size: 30px;
        font-weight: 500;
    }
    
    .email h4 {
        font-size: 12px;
        font-weight: 300;
    }

}

.links{
    padding-top: 60px;
    padding-bottom: 0;
}
.links ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.links ul li a i{
    padding: 10px;
    color: rgba(255, 255, 255, 0.621);
}

.links ul li a i:hover{
    color: rgb(255, 180, 75);
}