{% extends "base.html" %}
{% load static %}

{% block title %}Contact{% endblock %}

{% block css %}
<link rel="stylesheet" href={% static "css/contact_style.css" %}>
{% endblock %}

{% block content %}    
    <header>
        <nav>
            <p>Vineet Kumar</p>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about/">About Me</a></li>
                <li><a href="/projects/">Projects</a></li>
                <li><a href="/resume/">Resume</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="wrapper">
            <div class="title">Say Hello!</div>

            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14232.766388606447!2d81.00470129698492!3d26.897413812964768!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3999580d3b12bc29%3A0x76d2e00b35b85f8d!2sTakrohi%2C%20Lucknow%2C%20Uttar%20Pradesh!5e0!3m2!1sen!2sin!4v1720346338819!5m2!1sen!2sin"
                allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
            </iframe>
            
            <div class="sub-title">
                Contact Form
            </div>

            <form action="/contact/" class="form" method="POST">
                {% csrf_token %}
                <div class="input-wrapper">
                    <input type="text" name="name" class="form-input" placeholder="Full name" required>
                    <input type="email" name="email" class="form-input" placeholder="Email address" required>
                </div>
                
                <textarea name="message" class="form-input" placeholder="Your Message" required></textarea>
                
                <div class="submit">
                    <button class="form-btn" type="submit">
                        Send Message
                    </button>
                </div>
            </form>
        </div>
    </main>
    <footer>
        <div class="open">
            <h2>I'm open for work</h2>
        </div>
        <div class="email">
            <h4>Get in touch(Click to copy)</h4>
            <h1 id="text-to-copy" class="click-to-copy">itsvineetkr@gmail.com</h1>
        </div>
        <div class="links">
            <ul>
                <li><a href="https://github.com/itsvineetkr" target="_blank"><i class="fa-brands fa-github fa-2xl"></i></a></li>
                <li><a href="https://www.linkedin.com/in/itsvineetkr" target="_blank"><i class="fa-brands fa-linkedin fa-2xl"></i></a></li>
                <li><a href="https://www.instagram.com/vineetkumar.ind" target="_blank"><i class="fa-brands fa-instagram fa-2xl"></i></a></li>
            </ul>
        </div>
    </footer>
    <script>
        document.getElementById("text-to-copy").addEventListener("click", function () {
            var text = document.getElementById("text-to-copy").innerText;
            var textarea = document.createElement("textarea");
            textarea.value = text;
            document.body.appendChild(textarea);
            textarea.select();
            document.execCommand("copy");
            document.body.removeChild(textarea);
        });
    </script>
{% endblock %}