{% extends "base.html" %}
{% load static %}

{% block title %}Resume{% endblock %}

{% block css %}
<link rel="stylesheet" href={% static "css/resume_style.css" %}>
{% endblock %}

{% block content %}
    <header>
        <nav>
            <p>Vineet Kumar</p>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about/">About Me</a></li>
                <li><a href="/projects/">Projects</a></li>
                <li><a href="/contact/">Say Hello!</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="wrapper">
            <div class="title">Resume</div>
            <div class="sub-title">Education</div>
            <div class="education-wrapper">
                <div class="education">
                    <h2>INSTITUTE OF ENGINEERING AND TECHNOLOGY, LUCKNOW</h2>
                    <h3>BTech in CSE AI</h3>
                    <h5>2023 - 2027</h5>
                    <h4>Lucknow, Uttar Pradesh, India</h4>
                </div>
                <div class="education">
                    <h2>RANI LAXMI BAI MEMORIAL SCHOOL, SEC-14</h2>
                    <h3>CBSE Intermediate Science</h3>
                    <h5>2022 - 2023</h5>
                    <h3>Grade: 95.2%</h3>
                    <h4>Lucknow, Uttar Pradesh, India</h4>
                </div>
            </div>

            <div class="sub-title">Courses</div>
            <div class="courses-wrapper">
                <div class="course">
                    <h2>PYTHON DATA STRUCTURES & ALGORITHMS + LEETCODE EXERCISES Udemy</h2>
                    <h5>04/2024 - 05/2024</h3>
                        <a href="https://www.udemy.com/certificate/UC-bc4c9f9c-3f1c-43e7-9e65-aae72ad61f2c/" target="_blank">Certificate</a>
                </div>
            </div>

            <div class="sub-title">My Skills</div>
            <div class="skills">
                <div class="skill">
                    <div class="skill-title">
                        Python
                    </div>
                    <div class="bar">
                        <div class="bar-per" style="max-width: 90%;"></div>
                    </div>
                </div>
                <div class="skill">
                    <div class="skill-title">
                        CSS3
                    </div>
                    <div class="bar">
                        <div class="bar-per" style="max-width: 65%;"></div>
                    </div>
                </div>
                <div class="skill">
                    <div class="skill-title">
                        HTML
                    </div>
                    <div class="bar">
                        <div class="bar-per" style="max-width: 65%;"></div>
                    </div>
                </div>
                <div class="skill">
                    <div class="skill-title">
                        Django
                    </div>
                    <div class="bar">
                        <div class="bar-per" style="max-width: 50%;"></div>
                    </div>
                </div>
            </div>

            <div class="sub-title">Languages</div>
            <div class="languages">
                <div class="language">
                    <h3>English</h3>
                    <h4>Proficient</h4>
                </div>
                <div class="language">
                    <h3>Hindi</h3>
                    <h4>Native</h4>
                </div>
            </div>
            
            <div class="projects sub-title-link">
                <a href="/projects/" style="text-decoration: none;">
                    <div class="sub-title">Projects</div>
                </a>
                <a href="/projects/">
                    <i class="fa fa-external-link fa-xl" aria-hidden="true"></i>
                </a>
            </div>

            <div class="contacts sub-title-link">
                <a href="/contact/" style="text-decoration: none;">
                    <div class="sub-title">Contacts</div>
                </a>
                <a href="/contact/">
                    <i class="fa fa-external-link fa-xl" aria-hidden="true" ></i>
                </a>
            </div>

        </div>

        <div class="download">
            <a href="" style="text-decoration: none;">
                Download <i class="fas fa-file-download"></i>
            </a>
        </div>
    </main>
{% endblock %}